{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": "./src",
        "alias": 
        {
          "@Components": "./src/components",
          "@Styles": "./src/assets/styles",
          "@Utils": "./src/utils",
          "@Image": "./src/assets/img",
          "@Reducer": "./src/reducers",
          "@Action": "./src/actions",
          "@Context": "./src/context"
        }
      }
    ]
  ]
}